.logo {
	float: left;
	/*border: solid #fff 1px;*/
	height: 58px;
	width:150px; /* only with no logo image*/
	text-align: center;
	font-size: 30px;
	color: #fff;
	cursor: pointer;
}
.body-background {
	background-image: url('free-QUIZU.png');
	background-attachment: fixed;
	background-size: cover;
}
.pages-links {
	margin-left: calc(50% - 200px - 135px);
	background-color: rgba(0, 0, 0, 0);
	/*width: 400px;*/
	/*min-height: 50px;*/
	display: inline-block;
}
.pages-links ol {
	list-style: circle;
	margin-left: -40px;
}
.pages-links ol li {
	display: inline;
	margin: 30px;
}
.pages-links ol li div {
	border: solid #fff 1px;
	border-radius: 20px;
	height: 10px;
	width: 10px;
	background-color: #fff;
	display: inline-block;
}
.mainCont {
	margin: auto;
	width: 1000px;
	/*border:solid grey 2px;*/
	min-height: 500px;
	margin-top: 20px;
	position: relative;
	/*overflow: auto;*/
	vertical-align: top;
}
.baner {
	width:100%;
	/*border-bottom: solid grey 2px;*/
	border-collapse: collapse;
	min-height: 60px;
}
.drop {
	/*border-left: 2px solid grey;*/
	/*width: 60px;*/
	height: 58px;
	float: right;
	/*box-shadow: none;*/
	/*font-size: 25px;*/
	text-align: center;
	padding: 10px;
	color: #fff;
}
.drop .money {
	border: solid #fff 1px;
	border-radius: 20px;
	padding: 5px;
	display: inline-block;
	width: 30px;
	height: 30px;
	cursor: pointer;
}
.drop .caret {
	margin-top: -20px;
}
.footer {
	width: 100%;
	/*height: 150px;*/
	/*position: fixed;*/
	bottom: 0;
	/*border-top: solid grey 2px;*/
	padding-bottom: 20px;
	font-size: 18px;
	z-index: 999;
	/*margin-top:150px;*/
	background-color: transparent;
	position: relative;
	/*margin-top:100px;*/
	color: #fff;
}
.footer p {
	font-size: 12px;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
}
.footList {
	/*text-decoration: none;*/
	/*float: right;*/
	margin-top: 20px;
	list-style: none;
	text-align: right;
	font-size: 12px;
	display: inline-block;
	/*margin-left: 12px;*/
}
.footList li {
	display: inline-block;
	margin-left: 10px;
}
.footList li a {
	text-decoration: none;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
}
.footer-link-list {
	margin-left: 4%;
	list-style: none;
	text-align: center;
	font-size: 16px;
	display: inline-block;

}
.footer-link-list li {
	display: inline-block;
	margin: 15px;
}
.footer-link-list li a {
	text-decoration: none;
	color: #fff;
}
.optionSelect {
	margin:auto;
	margin-top:90px;
	margin-bottom: 140px;
	width: 700px;
	background-color: transparent;
	/*border: solid grey 2px;*/
	border-radius: 20px;
	min-height: 150px;
	/*padding-left: 30px;*/
	z-index: 999;
	position: relative;
	text-align: center;
	color: #fff;
}
.optionSelect h1 {
	margin-bottom: 30px;
	font-size: 51px;
}
.main-page-sign {
	margin: auto;
	/*border: solid #fff 1px;*/
	background-color: transparent;
	width: 40px;
	height: 40px;
	font-size: 40px;
	margin-bottom: 10px;
}
.searchbox {
	width:  640px;
	border: 1px solid #fff;
	border-radius: 3px;
	/*height: 36px;*/
	/*padding-left: 5px;*/
	z-index: 999;
	margin-top: 20px;
	color: grey;
	margin: auto;
}
.searchbox input {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
}
.city-icon {
	/*border: solid black 1px;*/
	height: 140px;
	text-align: center;
}
.city-icon-bar {
	margin: auto;
	margin-top: 20px;
}
.city-icon-pic {
	width: 100%; 
	/*height: 100px;*/
	cursor: pointer;
	/*border: solid 1px red;*/
}
.city-icon-name {
	text-decoration: none;
	color: #fff;
	font-size: 15px;
}
.city-icon-name:hover {
	text-decoration: none;
	color: #fff;
}
.options {
	margin-top: 15px;
	font-size: 20px;
	color:  grey;
	text-align: justify;
}
.pics {
	border: solid green 2px;
	width: 180px;
	height: 230px;
	margin: 8px;
	/*position: fixed;*/
	bottom: 270px;
	transform: rotateZ(25deg);
}
.gallery {
	z-index: 99;
	position: absolute;
	bottom: 110px;
}
.ask {
	border: 2px  solid grey;
	border-radius: 50px;
	width:100px;
	height:100px;
	position: absolute;
	z-index: 9999;
	top: 115px;
	right:115px;
	background-color: #fff;
	text-align: center;
	padding: 20px;
	font-size: 40px;
}
.about {
	/*border: solid black 1px;*/
	width: 40px;
	height: 40px;
	float: left;
	margin-left: 30px;
	margin-top: 30px;
	padding: 0px;
	text-align: center;
	background-image: url(znak-zapyt.png);
	background-size: cover;
	cursor: pointer;
}
.about-description {
	margin:auto;
	/*margin-top:90px;*/
	margin-bottom: 20px;
	width: 800px;
	background-color: transparent;
	border: solid #fff 2px;
	border-radius: 2px;
	min-height: 150px;
	/*padding-left: 30px;*/
	z-index: 999;
	position: relative;
	text-align: left;
	color: #fff;
	margin-top: 50px;
	padding: 10px;
	display: none;
}
#jeden {
	transform: rotateZ(-25deg);
}
#trzy {
	transform: rotateZ(-30deg);
}
.leftCol {
	width: 200px;
	min-height: 300px;
	display: inline-block;
	float: left;
}
.back {
	width: 100%;
	padding: 15px;
	margin-bottom: 60px;
}
.backButton {
	background-color: darkgrey;
	border: 2px solid grey;
	border-radius: 5px;
	text-align: left;
	width: 120px;
	min-height: 30px;
	padding-left: 5px;
}
.downLeft {
	width: 100%;
	height: 300px;
	text-align: left;
	padding: 3px;
}
.leftPic {
	border: solid green 2px;
	width: 180px;
	height: 230px;	
	position: absolute;;
	z-index: 99;
	bottom: 140px;
}
.cloud {
	border: 2px  solid grey;
	border-radius: 50px;
	width:180px;
	height:100px;
	position: absolute;
	z-index: 9999;
	bottom: 330px;
	left:40px;
	background-color: #fff;
	text-align: center;
	padding: 20px;
	font-size: 20px;
}
.shop{
	width: 796px;
	/*background-color: red;*/
	display: inline-block;
	/*float: right;*/
	min-height: 470px;
	/*margin-bottom: 150px;*/
}
.descript {
	width: 100%;
	min-height: 100px;
	font-size: 16px;
	padding: 15px;
}

.shopTable {
	width: 100%;
	line-height: 1;
	/*margin-bottom: 1px;*/
}
/*.footForOpt {
	position: absolute !important;
}
.mainForOpt {
	overflow: auto;
}*/
.product {
	width:65%;
	height: 65%;
	margin: auto;
	margin-top: calc(35% / 2);
	background-color: lightblue;
	border: grey solid 2px;
	position: relative;
}
.add {
	border: solid black 1px;
	background-color: green;
	width: 50px;
	height: 50px;
	position: relative;
	z-index: 9;
	bottom: calc(50% - 25px);
	left: calc(35% / 4);
	display: inline-block;
	text-align: center;
	font-size: 40px;
}
.minus {
	border: solid black 1px;
	background-color: red;
	width: 50px;
	height: 50px;
	position: relative;
	z-index: 9;
	bottom: calc(50% - 25px);
	/*left: calc(65% + 35% / 4);*/
	display: inline-block;
	float: right;
	margin-right: calc(35% / 4);
	text-align: center;
	font-size: 40px;	
}
.amount {
	background-color: lightgrey;
	border: solid grey 2px;
	border-radius: 20px;
	width: 40px;
	height: 40px;
	padding:5px;
	text-align: center;
	position: relative;
	z-index: 9;
	bottom: calc(35% - 9px);
	left: calc(35% / 4 + 4px);
	font-size: 20px;
}
.price {
	/*background-color: blue;*/
	width: 50px;
	height: 30px;
	padding:2px;
	text-align: center;
	position: relative;
	z-index: 9;
	/*bottom: calc(35% - 24px);*/
	bottom: 90px;
	left: calc(65% + 35% / 4 - 25px);
	font-size: 20px;
}
.one-prod {
	display: inline-block;
	width: 33%;
	height: 250px;
	background-color: rgba(255, 255, 255, 0);
	padding:0px;
}
.product-list tr:first-child {
	font-size: 15px;
	text-align: center;
	height: 30px;
}
.product-list {
	margin: 30px;
	width: 650px;
	margin: auto;
	margin-top: 60px;
	cell-spacing: 10px;
}
.product-list tr td:first-child {
	width: 210px;
	/*background-color: red;*/
}
.product-list tr td:nth-child(2) {
	width:  200px;
	/*background-color: green;*/
}
.product-list tr td:nth-child(3) {
	width: 60px;
	/*background-color: blue;*/
	text-align: right;
}
.product-list tr td:last-child {
	width: 180px;
	/*background-color: yellow;*/
} 
.product-list-item {
	font-size: 20px;
	height: 60px;
	text-align: center;
}
.prod-add {
	margin-left: -10px;
	margin-right: 20px;
	left :0 !important;
}
.product-list tr {
	border-spacing: 10px;
}
.product-list-item p {
	font-size: 15px;
	display: inline !important;
	margin-left: -65px;
}
.product-list-item hr {
	width:110px;
	border: solid grey 1px;
	/*float: left;*/
	margin:0;
}
.checkout-button {
	width:200px;
	height:60px;
	float:right;
	margin-top: 50px;
	background-color: #f6e53b;
	border: solid grey 1px;
	margin-right: 130px;
	font-size: 29px;
	text-align: center;
	padding: 6px;
}
.product-list-item td {
	padding-top: 20px;
}
.checkout td {
	padding-top: 5px;
}
.checkout .add {
	display: none;
}
.checkout .minus {
	display: none;
}
.checkout .product-list-item {
	height: 20px !important;
}
.checkout .product-list-item span {
	border: solid grey 2px;
	border-radius: 30px;
	padding: 5px;
	margin-top: 3px;
}
.checkout .product-list-item hr {
	margin-bottom: 10px;
}
.form {
	width:500px;
	margin-left: 80px;
	margin-top: 50px;

}
.form label {
	/*float: left;*/
	display: block;
	font-size: 18px;
	height: 28px;
}
.form input {
	float: right;
	display: block;
	width: 100%;
	margin: 3px;
	border: solid grey 2px;
}
.labels {
	width: 196px;
	display: inline-block;
}
.inputs {
	width: 300px;
	float: right;
	display: inline-block;
}
.pay-button {
	/*width:180px;*/
	height:50px;
	float:right;
	margin-top: 10px;
	margin-bottom: 15px;
	background-color: #f6e53b;
	border: solid grey 1px;
	margin-right: 130px;
	font-size: 26px;
	text-align: center;
	padding: 4px;
}
.final-price {
	text-align: center;
	height: 50px;
	border-top: solid grey 2px;
	width: 250px;
	/*float: right;*/
	margin-left: 420px;
	margin-bottom: 50px;
	padding: 13px;
	padding-right: 0px;
}
.final-price span {
	border: solid grey 2px;
	border-radius: 30px;
	padding: 5px;
	/*margin-top: 3px;*/
	float: right;	
	font-size: 20px;
	min-width: 70px;
	margin-top: -10px;
}
.final-price p {
	font-size: 15px;
	display: inline !important;
	margin-left: 80px;
}
.links-page {
	/*min-height: 300px;*/
	padding-top: 50px;
	padding-left: 50px;
	/*float: left;*/
	display: inline-block;
	width: 800px;
}
.links-page h1{
	margin-top: 0px;
	margin-bottom: 5px;
}
.last {
	min-height: 300px;
}
.link-list {
	list-style: none;
	font-size: 20px;
	margin-top: 20px;
	margin-left: -20px;
}
.link-list a {
	color:#000;
}
.create-acc {
	width: 240px;
	/*height: 60px;*/
	border: solid grey 2px;
	border-radius: 10px;
	background-color: lightgrey;
	font-size: 15px;
	margin-bottom: 15px;
	margin-left: 10px;
	padding:5px;
}
.right-pic {
	border: solid green 2px;
	width: 180px;
	height: 280px;	
	position: absolute;
	z-index: 99;
	bottom: 140px;
}
.last-pic {
	/*float:right;*/
	display: inline-block;	
}
.menu-button {
	display: none;
}
.mobile-help {
	display: none;
}
.arrow {
	display: none;;
}
.mobile-option {
	display: none;
}
.mobile-back {
	display: none;
}
.prod-name {
	display: none;
}
.qty {
	display: none;
}
.inputs-small-screen {
	display: none;
}
@media (max-width: 600px) {
	.mainCont {
		width: 85%;
		overflow: auto;
	}
	.pics {
		display: none;
	}
	#piec {
		display: inline-block;
		margin-left: 51%;
		position: absolute;
		bottom: -30px;
		right: 10px;
	}
	.footer {
		width: 100%;
	}
	.drop {
		display: none;
	}
	.menu-button {
	border-left: 2px solid grey;
	width: 60px;
	height: 58px;
	float: right;
	font-size: 25px;
	text-align: center;
	padding: 10px;	
	display: inline-block;
	background-color: darkgrey;	
	}
	.ask {
		display: none;
	}
	.optionSelect {
		width: 95%;
		margin-top: 30px;
		border: none;
		background-color: rgba(0, 0, 0, 0);
	}
	.searchbox {
		width: 90%;
	}
	.optionSelect h3 {
		margin-bottom: 2px;
	}
	.gallery {
		z-index: 99;
		position: absolute;
		bottom: 110px;
		width: 100%;
		height: 100%;
	}
	.footList {
		display: none;
	}
	.footer {
		height: 80px;
	}
	.options span {
		display: block;
	}
	.options {
		margin-bottom: -80px;
	}
	.mobile-help {
		display: inline-block;
		width: 100%;
		background-color: lightgrey;
		border-top: 2px solid  grey;
		/*height: 30px;*/
		text-align: center;
		padding:5px;
		font-size: 18px;
		color: grey;
	}
	.arrow {
		display: inline;
		/*border: solid black 1px;*/
		font-size: 30px;
		float: right;
		color: grey;
		margin-top: -45px;

	}
	.leftPic {
		bottom: 70px;
		z-index: 0;
	}
	.mobile-back {
	float: left;
	border-right: solid grey 2px;
	height: 58px;
	width: 60px;
	background-color: darkgrey;
	font-size: 30px;
	text-align: center;
	padding-top: 5px;
	display: inline-block;
	}
	.backButton {
		display: none;
	}
	.back {
		display: none;
	}
	.mobile-option {
		display: inline-block;
		font-size: 25px;
		margin-top: 10px;
		margin-left: 50px;

	}
	.mobile-logo {
		display: none !important;
	}
	.cloud {
		display: none;
	}
	.shop {
		width: 100%;
		min-height: 100px;
	}
	.leftCol {
		min-height: 0;
	}
	.downLeft {
		height: 0;
	}
	.one-prod {
		background-color: darkgrey;
		border: solid grey 2px;
		width: 90%;
		margin-left: 5%;
		position: relative;
		z-index: 99;
		height: 200px;
		/*padding: 5%;*/
	}
	.product {
		height: 98%;
		margin:2px;
		width: 50%;
		display: inline-block;
	}
	.prod-name {
		display: inline-block;
		/*float: right;*/
		/*margin: 25px;*/
		z-index: 9;
		position: relative;
		bottom: 165px;
		left: calc(12%);
	}
	.price {
		bottom: 220px;
		left: calc(65% + 35% / 15px);
	}
	.add {
		width: 40px;
		height: 40px;
		left: calc(50% + 35% / 4 - 10px);
		display: block;
	}
	.minus {
		width: 40px;
		height: 40px;
		bottom: calc(50% + 15px);
		display: block;
		margin-right: calc(35% / 4 - 10px);
	}
	.amount {
		bottom: calc(50% + 10px);
		left: calc(50% + 35% / 2 + 8px);
		border: none;
		background-color: rgba(0, 0, 0, 0);
	}
	.mobile-left {
		display: none !important;
	}
	.product-list tr:first-child {
		display: none;
	}
	.product-list tr td:nth-child(2) {
		display: block;
		margin-left: 29px;
	}
	.product-list tr td:first-child {
		display: inline-block;
		/*margin-left: -210px;*/
		text-align: left;
	}
	.product-list tr td:nth-child(3) {
		width: 60px;
		text-align: center;
		position: relative;
		/*right: 200px;*/
		top: -18px;
		/*left: -252px;*/
	}
	.product-list-item td {
		padding-top: 2px;
	}
	.product-list tr td:last-child {
		position: relative;
		/*right: 200px;*/
		width: 90px;
		/*left: -255px;*/
		font-size: 28px;
	}
	.product-list tr td:nth-child(2) .add {
		display: inline-block;
		width: 30px;
		height:30px;
		font-size: 20px;
		left: 50px !important;
		bottom: 0px;
		margin-right: 0px;
	}
	.product-list tr td:nth-child(2) .minus {
		display: inline-block;
		width: 30px;
		height:30px;
		font-size: 20px;
	}
	/*.product-list tr td:nth-child(2) span {
		margin-left: 80px;
	}*/
	.qty {
		display: inline-block;
		margin-right: -25px;
	}
	.cart-mob-number {
		margin-left: 60px;
	}
	.checkout-button {
		width: 93%;
		margin: auto;
		float: none;
		margin-bottom: 20px;
		margin-top: 20px;
	}
	.product-list {
		width: 0px;
	}
	.checkout .qty {
		border: none !important;
		margin-right: 10px;
	}
	.checkout .product-list tr td:nth-child(2) {
		text-align: left;
	}
	.checkout .product-list-item {
		text-align: left;
	}
	.checkout .order {
		left: -50px !important;
		top: -20px !important;
	}
	.final-price {
		margin-left: calc(100% - 150px);
		width: 150px;
	}	
	.final-price p {
		margin: 0;
	}
	.final-price span {
		border: none;
		font-size: 28px;
		margin-top: -15px;
	}
	.form label {
		display: none;
	}
	.form  {
		width: 95%;
		margin-left: 2%;
	}
	.inputs {
		float: left;
		margin-left: 9%;
	}
	.pay-button {
		width: 90%;
		margin-right: 5%;
	}
/*	.inputs input:first-child {
		background-color: red;
	}*/
	.inputs-big-screen {
		display: none;
	}
	.inputs-small-screen {
		display: block;
	}
	.links-page {
		width: 100%;
		padding-left: 0px;
	}
	.links-page h1 {
		font-size: 28px;
		text-align: center;
	}
	.create-acc {
		width: 95%;
		border: none;
		background-color: transparent;
		text-align: center;
	}
}
@media (min-width: 601px) and (max-width: 1050px) {
	.mainCont {
		width: 98%;
		overflow: auto;
	}
	.footer {
		width: 100%;
	}
	.ask {
		right: 30px;
	}
	.optionSelect {
		width: 98%;
		padding-left: 8px;
	}
	.searchbox {
		width: 97%;
	}
	#dwa {
		display: none;
	}
	#piec {
		display: none;
	}
	.pics {
		margin: 5px;
	}
	.shop {
		position: relative;
		z-index: 9999;
		width: 100%;
		margin-left: 25px;
		margin-top: -150px;
		/*margin-bottom: 70px;*/
	}
	.descript {
		width: 98%;
	}
	.downLeft {
		height: 0px;
	}
	.one-prod {
		width: 280px;
	}
	.product-list {
		width: 90%;
		margin-top: -25px;
	}
	.final-price{
		margin-left: 54%;
	}
	.pay-button {
		margin-top: -250px;
	}
	.form {
		margin-bottom: 280px;
		margin-left: 60px;
	}
	.links-page {
		width: 70%;
	}
}